@import "tailwindcss";

button,
input,
textarea,
select {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

.bg-gradient {
  background: linear-gradient(158deg, #fdc10f, #b2c38a, #4b94fc 100.02%);
}

.text-gradient {
  background: linear-gradient(158deg, #fdc10f, #b2c38a, #4b94fc 100.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: #ffffff1a transparent;
}

.loader-fading-animation {
  animation: loaderFading 1s infinite;
}

@keyframes loaderFading {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.15;
  }
}
